@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  color: #fff;
  height: 100vh;
  background-color: #bed9ee;
}

.header {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.2))), url(/images/background.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(/images/background.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  min-width: 70%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px 1px rgba(39, 39, 39, 0.65);
          box-shadow: 0px 0px 16px 1px rgba(39, 39, 39, 0.65);
}

.nav-conteiner {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-conteiner .nav-logo {
  text-transform: uppercase;
  font-size: 110%;
  cursor: pointer;
}

.nav-conteiner .nav-logo:hover {
  color: orange;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-conteiner .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-conteiner .nav-links {
  list-style: none;
  padding: 0 10px;
}

.nav-conteiner .nav-links a {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #fff;
  text-decoration: none;
  font-size: 85%;
  font-weight: 300;
}

.nav-conteiner .nav-links a:hover {
  color: orange;
}

.nav-conteiner .nav-info .burger {
  display: none;
}

.nav-conteiner .nav-info #burger-icon {
  position: relative;
  color: #fff;
  font-size: 200%;
  cursor: pointer;
  z-index: 2;
}

.nav-conteiner .active {
  display: block;
  position: absolute;
  right: 3rem;
  top: 3rem;
  width: 50%;
  height: 74vh;
  background-color: #272727;
  border-radius: 5px;
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.content {
  position: absolute;
  top: 60%;
  margin: 0 3rem;
  min-height: 10vh;
}

.content .title {
  color: #d6d6d6;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
}

.content .price-duration {
  max-width: 257px;
  margin-top: 7px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .price-duration .price {
  font-weight: 600;
}

.content .price-duration .duration {
  color: #d6d6d6;
  font-size: 70%;
}

.content .description {
  margin: 10px 0;
  font-size: 80%;
  font-weight: 300;
  max-width: 400px;
}

.content .btn {
  border: 0;
  padding: 5px;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.content .btn:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: orange;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 3rem;
}

.footer .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  text-transform: uppercase;
}

.footer .footer-list .footer-item {
  padding: 0 10px;
}

.footer .footer-list .footer-item a {
  color: #fff;
  text-decoration: none;
  font-size: 80%;
  font-weight: 600;
}

.footer .footer-list .footer-item a #search {
  margin-top: 3px;
  width: 20px;
  height: 20px;
  background-color: rgba(90, 89, 89, 0.89);
  padding: 15px;
  border-radius: 50%;
}

.footer .footer-list .footer-item a:hover {
  color: orange;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/*# sourceMappingURL=style.css.map */